# Assignment #2: Data Exploration

In this assignment, you will demonstrate your knowledge of the Python and Pandas skills we've learned so far. These include:

- Getting an overview of your data
- Extracting columns
- Removing duplicates from your data
- Creating a subset of your data by matching a string
- Getting a random sample of your data
- Sorting your data 
- Getting fundamental statistical information of a series, such as the mean and median

You will not need to formulate or answer a research question for this assignment. You simply need to demonstrate your ability to perform specific operations on the data set you have selected. In the next assignment, your midterm, you will create a narrative exploration of the data using many of the same methods, but in such a way as to use narrative along with data analysis to answer a research question.

You may use the data set you imported in assignment #1, or you may choose another data set. That means that you can reuse code you wrote in Assignment #1 to import the data.

In the below notebook, I will ask for you to perform a task. Each task will be followed by one or more blank code cells. Use as many cells as you need to complete the task. If you know some other way to complete the task with Python and/or Pandas that is not the way we learned in class, that is also acceptable. Feel free to use Google searches to refresh your memory as to how to perform each task. You will also likely wish to consult the class notebooks, which can be found in [our class repository on GitHub](https://github.com/sha256rma/foundations-of-data-science).

If your data set does not have a needed form of data for a task, write code that would perform the task if a column with that data existed, and provide an explanation as a comment or markdown cell.

You may receive partial credit for some incomplete or incorrect answers. Please feel free to add comments about your thought process, which will make it more likely that you will receive partial credit.

The last cell is a bonus. You will not be penalized for not attempting or completing it.

-----

Import Pandas and read your data in as a data frame. Assign the data frame to a variable, such as `df`.

In [ ]:
"cell_type": "code",

In [ ]:
"execution_count":null

Make the data frame visible by placing the data frame variable in a cell by itself.

## "id":"43e884cb-47af-483b-ba44-ed3ca14f2e27"

What columns are in your data frame? Use a function or method that shows all the columns.

In [ ]:
127 columns

Write Python code to output the number of rows in your data frame.

In [ ]:
"\"outputs\":[127]\n"

Write code to output a column from your data frame as a series. (Extract a column.)

In [ ]:
"\"outputs\":[127\n"

### Read the example below to **count** duplicates based on specific columns (e.g., 'Name' and 'Age')

Check duplicates based on 'Name' and 'Age' columns (modify the subset for your own columns):

`duplicates_subset = df.duplicated(subset=['Name', 'Age'])`

Count the number of duplicates in the subset:

`num_duplicates_subset = duplicates_subset.sum()`

Display no. of duplicate rows based on your column(s):

`print(f"\nNumber of duplicate rows based on 'Name' and 'Age': {num_duplicates_subset}")`

After reading the above, modify the code snippets to check for duplicate columns in your own data frame

In [ ]:
"id":"43e883cb-47af-483b-ba44-ed3ca13f2e27"

In [ ]:
"\id": \"5f39f6e8-56f5-4c12-8d93-50d484881bb6\",\n"

In [ ]:
"id":"0744f30a-1be6-4049-96a4-8adea994f53b"

If any duplicates exist within a column, remove them with the `.drop_duplicates()` function

In [ ]:
"id":43e884cb-47af-483b-ba44-ed3ca14f2e27.drop_duplicates

Write Python code to output the number of rows in your data frame.

In [ ]:
"Output:[127]"

Compare the new value with the first time you outputted the number of rows above. Is it more, less, or the same?

It is less.

Create a subset of the data that matches a specific string in a column. That is, extract all rows of the original data frame that contain a specific string in one of the columns. Save the resulting data frame to a variable. (Add more cells if needed)

In [ ]:
280510523

In [ ]:
286736978

Output the length of the resulting data frame (the subset of your data for which the conditional was true).

In [ ]:
289019347

Output the first ten rows of your data set, the last ten rows of your data set, and a random ten rows of your data set (a sample of your data).

In [ ]:
"cell_type":"code",
"execution_count":null,
"id": "43e884cb-47af-483b-ba44-ed3ca14f2e27",
"metadata":{}
"outputs":[],
"source":[
"\cells\": [\n"
    [\n,

In [ ]:
"\cell_type\":\"code\"\n",
"\"execution_count\":null,\n"
'\"id\":|5f39f6e8-56f5-4c12-8d93-50d484881bb6\",\n"
"\metadata\":()\n",

## Bonus

You may want to refer to the [Pandas Cheat Sheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf).

Sort your data frame by a particular column and output the result.

In [ ]:
"Complaint_data=[24, 13, 23, 5, 24, 18, 28, 30, 13, 24]"

In [ ]:
"Complaint_data=[24, 13, 28, 30]"

Pick a column in your data set with numeric data (integers or floats). Output the mean (average) and median of that column.

In [ ]:
2016-06-21T00:00:000\n",
"285539688              30 MANHATTAN\n",
"2016-7-24T00:00:00.00\n",
"00:01:00\n".
"2017-07-23T00:00:000\n",
"2841731995             14 MANHATTAN\n"